<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Wok this Way Login Page!</h1>
  <p>One stop solution for quick meals..</p>
  <p>Easy ordering and take away system</p>
</div>

<div class="container1">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Login</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method = "POST" role="form">
                      {% csrf_token %}
                      <fieldset>
                        {% for field in form %}
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{field.label}}</label> <div class="col-sm-9"> {{field}}</div>                       
                        </div>
                        {% endfor %}
                      </fieldset>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">
                                Sign in</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">
                    {% if loggedin == 1 %}
                    <p>Incorrect username or password</p>
                    {% endif %}
                    Not Registered? <a href="{% url 'register' %}">Register here</a></div>
            </div>
        </div>
    </div>
</div></body>
</html>
