<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
  background: url("1.jpg") no-repeat center center fixed;

-webkit-background
-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;

}
/*h1{color:white}
p{color:white}*/
.panel
-default {
opacity: 0.9;
margin-top:30px;
}
.form
-group.last { margin-bottom:0px; }
</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WokThisWay</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="Login_temp.html">Home</a></li>
      <li><a href="Login_temp.html">Login</a></li>
      <li><a href="Order.html">Order</a></li>
      <li><a href="Menu.html">Menu</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Wok this Way!</h1>
  <p>One stop solution for quick meals..</p>
  <p>Easy ordering and take away system</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% if registered == 1 %}
            <p> Account Created <a href="{% url 'login_page' %}">Login here!</a></p>
          {% endif %}
          {% if registered == 2 %}  
            <p> The two passwords do not match</p>
          {% endif %}
          {% if registered == 3 %}  
            <p> Username already exists</p>
          {% endif %}
          <!---->
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Registration</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method = "POST" role="form">
                      {% csrf_token %}
                      <fieldset>
                        {% for field in form %}
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{field.label}}</label> <div class="col-sm-9"> {{field}}</div>                       
                        </div>
                        {% endfor %}
                      </fieldset>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">
                                Sign up</button>
                        </div>
                    </div>
                    </form>
                <!--</div>
                <div class="panel-footer">
                    Not Registered? <a href="#">Register here</a></div>
            </div>-->
        </div>
    </div>
</div></body>
</html>
